{% extends 'base.html' %} {% block content %}

<h2>Welcome {{ user.title() }}👋</h2>
<p />
<form action="/upload" method="POST" enctype="multipart/form-data" class="mb-3">
  <input type="file" name="file" class="form-control mb-2" />
  <button class="btn btn-dark">Upload</button>
</form>

<div class="row">
  {% for file in files %}
  <div class="col-md-3 mb-3">
    <div class="card p-3">
      <!-- File Name + Icon -->
      <div class="d-flex flex-column">
        <div class="d-flex align-items-center gap-2">
          <span style="font-size: 20px">
            {% set ext = file.name.split('.')[-1].lower() %} {% if ext in
            ['png','jpg','jpeg','gif','webp','svg'] %} 🖼️ {% elif ext == 'pdf'
            %} 📄 {% elif ext in ['py','js','html','css','json','xml','csv'] %}
            💻 {% elif ext in ['mp4','mkv','avi','mov','webm'] %} 🎬 {% elif ext
            in ['mp3','wav','ogg'] %} 🎵 {% elif ext in
            ['zip','rar','7z','tar','gz'] %} 📦 {% else %} 📁 {% endif %}
          </span>

          <span class="file-name text-white"> {{ file.name }} </span>
        </div>

        <!-- Timestamp -->
        <small class="text-light ms-4">
          &nbsp;&nbsp; Uploaded {{ file.time | datetimeformat }}
        </small>
      </div>

      <br />

      <!-- Row 1: View + Delete -->
      <div class="row mb-2">
        <div class="col-6">
          <a
            href="/view/{{ file.name }}"
            class="btn btn-sm btn-primary w-100 d-flex align-items-center justify-content-center gap-2"
          >
            <i class="bi bi-eye"></i> View
          </a>
        </div>

        <div class="col-6">
          <form action="/delete/{{ file.name }}" method="POST">
            <button
              class="btn btn-sm btn-danger w-100 d-flex align-items-center justify-content-center gap-2"
            >
              <i class="bi bi-trash"></i> Delete
            </button>
          </form>
        </div>
      </div>

      <!-- Row 2: Download -->
      <a
        href="/download/{{ file.name }}"
        class="btn btn-sm btn-success w-100 d-flex align-items-center justify-content-center gap-2"
      >
        <i class="bi bi-download"></i> Download
      </a>
    </div>
  </div>
  {% endfor %}
</div>
<br />
{% endblock %}
